body{
    background-color: #fff
}
*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}


#root{
    display: flex;
    justify-content: center;
}

.container{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    max-width: 60%; 
    box-shadow: 0px 0px 10px #000;
}

.left-side{
    min-width: 180px;
    background-color: #003049;
    color: #fff;
    max-width: 30%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Image */

.image-work{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.img{
    width: 85%;
    height: 85%;
    border-radius: 50%;
}

/* Name */

.cv-name{
    text-align: center;
    font-weight: 700 ;
}

div > span{
    color: #ccc;
}

/* Other Information */

.cv-phone{
    margin-top: 30px; 
    display: flex;
    justify-content: center;
}
.cv-phone:hover,
.cv-email:hover,
.cv-location:hover,
.cv-linkedin:hover,
.cv-github:hover  {
    color: #ccc;  
}

.cv-email, .cv-location, .cv-linkedin, .cv-github{
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit
}

.cv-icon{
    width: 2em;
}

.mobile, .email, .location, .linkedin, .github{
    max-width: 10em;
}
.email, .location, .linkedin, .github{
    margin-top: 0.5rem;
    font-size: 0.9rem
}

/* Languages & Hobbies */

.cv-language, .cv-hobbies{
    margin-top: 30px;
}

.lang-para, .hobi-para{
    font-weight: 700;
    margin: 10px 0 0 15%;
}
.line{
    border: 1px solid #fff;
    width: 9em;
    margin: 0 0 0 15%;
}

.languages, .hobbies{
    margin: 5px 0 0 4em;
}
.languages,.hobbies > ul > li {
    line-height: 25px;
}

/* Right Side Styling */

.right-side{
    max-width: 70%;
    min-width: 140px;
    background-color: #edede9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Summary */

.cv-summary{
    max-width: 95%;
    margin: 10px;
}

.line-black{
    border: 1px solid #000;
    max-width: 93%;
    margin-top: 5px; 
}

.summary{
    margin-top: 10px;
    line-height: 25px;
    padding: 5px;
}

/* Experience & Education */

.cv-experience, .cv-education{
    max-width: 95%;
    margin: 30px 10px;
}

.experience{
    margin-top: 20px ;
    padding: 5px;
}

.experience-list, .education-list{
    margin-left: 30px;
    padding: 5px;
    line-height: 25px;
}

.experience > p > strong{
    line-height: 25px;
}

/* Skill Highlights & Certification */

.cv-skill-highlights, .cv-certification, .cv-project{
    max-width: 95%;
    margin: 40px 10px;
}

.certificates-list, .skills-list, .projects-list{
    margin: 10px 0 0 30px;
    padding: 5px;
    line-height: 40px;
}

.skills-list {
    display: flex;
    justify-content: space-evenly;
}

.cv-skill{
    max-width: 15em;
}

/* Media Queries */

@media (max-width:780px){
    .skills-list {
        display: block;
        flex-direction: column;
    }
}
@media (max-width:580px){
    h3{
        font-size: 15px;
    }
}